<div class="arrondi">
    <p class="inside">
      Bon anniversaire !
    </p>
</div>

<app-one-person [img]="raphImage" [text]="raphText"></app-one-person>
<app-one-person [img]="cedricImage" [text]="cedricText"></app-one-person>
<app-one-person [img]="meImage" [text]="meText"></app-one-person>
<app-one-person [img]="guillaumeImage" [text]="guillaumeText"></app-one-person>
<app-one-person [img]="soizicImage" [text]="soizicText"></app-one-person>
<app-one-person [img]="papaImage" [text]="papaText"></app-one-person>
<app-one-person [img]="elsaImage" [text]="elsaText"></app-one-person>
<app-one-person [img]="armelleImage" [text]="armelleText"></app-one-person>
<app-one-person [img]="heleneImage" [text]="heleneText"></app-one-person>
<app-one-person [img]="dupuyImage" [text]="dupuyText"></app-one-person>
<app-one-person [img]="perrineImage" [text]="perrineText"></app-one-person>
<!--
-->

<router-outlet></router-outlet>