* {
}

.arrondi {
    align-items: center;
    padding: 30px;
    background-color: rgb(255, 0, 38);
    border-radius: 10px;
}

@font-face {
    font-family: holiday;
    src: url('../assets/CADEAUX.TTF');
}

.inside {
    font-family: holiday;
    text-align: center;
    font-size: 2rem;
}
