* {
}

.total {
    display: block;
    height: 100px;

}

.txt {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 120px;
    margin-top: 30px;
    width: 80%;
    background-color: lightgray;
    border-radius: 10px 10px 10px 0px;
}

.image {
    margin-bottom: 20px;
    float: left;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}